USE [master]
GO
/****** Object:  Database [Moodle]    Script Date: 10.08.2018 15:44:06 ******/
CREATE DATABASE [Moodle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Moodle', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Moodle.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Moodle_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Moodle_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Moodle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Moodle]
GO
/****** Object:  Table [dbo].[Adress]    Script Date: 10.08.2018 15:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Adress](
	[IdAdress] [int] NOT NULL,
	[Village] [varchar](40) NULL,
	[City] [varchar](40) NULL,
	[Country] [varchar](40) NULL,
	[IdUser] [int] NOT NULL,
 CONSTRAINT [PK_Adress] PRIMARY KEY CLUSTERED 
(
	[IdAdress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 10.08.2018 15:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Courses](
	[IdCourse] [int] NOT NULL,
	[NameCourse] [varchar](100) NOT NULL,
	[GroupId] [int] NOT NULL,
	[DateCreateCourse] [datetime] NOT NULL,
	[MainTeacher] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[IdCourse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Eveniments]    Script Date: 10.08.2018 15:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Eveniments](
	[IdUserEvent] [int] NOT NULL,
	[NameEveniment] [varchar](100) NOT NULL,
	[Createby] [int] NOT NULL,
 CONSTRAINT [PK_Eveniment] PRIMARY KEY CLUSTERED 
(
	[IdUserEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Group]    Script Date: 10.08.2018 15:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[AcademicYear] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Marks]    Script Date: 10.08.2018 15:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marks](
	[IdNote] [int] IDENTITY(1,1) NOT NULL,
	[IdCourse] [int] NOT NULL,
	[IdStudent] [int] NOT NULL,
	[Value] [int] NULL,
 CONSTRAINT [PK_StudentCourse] PRIMARY KEY CLUSTERED 
(
	[IdNote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 10.08.2018 15:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[IdStudent] [int] NOT NULL,
	[EntryTime] [datetime] NOT NULL,
	[ExitTime] [datetime] NOT NULL,
	[Class] [varchar](10) NULL,
	[IdUser] [int] NOT NULL,
	[GroupId] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[IdStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subscribes]    Script Date: 10.08.2018 15:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribes](
	[IdEveniment] [int] NOT NULL,
	[IdStudent] [int] NOT NULL,
 CONSTRAINT [PK_EvenimentStudent] PRIMARY KEY CLUSTERED 
(
	[IdEveniment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 10.08.2018 15:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teachers](
	[IdTeacher] [int] NOT NULL,
	[EntryTime] [datetime] NOT NULL,
	[ExitTime] [datetime] NOT NULL,
	[Degree] [varchar](10) NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[IdTeacher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.08.2018 15:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](120) NULL,
	[LastName] [varchar](120) NULL,
	[Email] [varchar](50) NOT NULL,
	[PasswordUser] [varchar](40) NOT NULL,
	[IDNP] [bigint] NULL,
	[Photo] [nvarchar](max) NULL,
	[DateCreated] [date] NOT NULL,
	[BirthDate] [date] NULL,
	[Age] [int] NULL,
	[Gender] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [UQ__Users__B87DC94D1A172BC3]    Script Date: 10.08.2018 15:44:06 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__B87DC94D1A172BC3] UNIQUE NONCLUSTERED 
(
	[IDNP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adress]  WITH CHECK ADD  CONSTRAINT [FK_Adress_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Adress] CHECK CONSTRAINT [FK_Adress_Users]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([GroupId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Group]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Teachers] FOREIGN KEY([MainTeacher])
REFERENCES [dbo].[Teachers] ([IdTeacher])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Teachers]
GO
ALTER TABLE [dbo].[Eveniments]  WITH CHECK ADD  CONSTRAINT [FK_Eveniments_Users] FOREIGN KEY([Createby])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Eveniments] CHECK CONSTRAINT [FK_Eveniments_Users]
GO
ALTER TABLE [dbo].[Marks]  WITH CHECK ADD  CONSTRAINT [FK__StudentCo__IdStu__51EF2864] FOREIGN KEY([IdStudent])
REFERENCES [dbo].[Courses] ([IdCourse])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Marks] CHECK CONSTRAINT [FK__StudentCo__IdStu__51EF2864]
GO
ALTER TABLE [dbo].[Marks]  WITH CHECK ADD  CONSTRAINT [FK__StudentCo__IdStu__52E34C9D] FOREIGN KEY([IdStudent])
REFERENCES [dbo].[Students] ([IdStudent])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Marks] CHECK CONSTRAINT [FK__StudentCo__IdStu__52E34C9D]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([GroupId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Group]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[Subscribes]  WITH CHECK ADD  CONSTRAINT [FK__StudentEv__IdStu__4E1E9780] FOREIGN KEY([IdStudent])
REFERENCES [dbo].[Eveniments] ([IdUserEvent])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subscribes] CHECK CONSTRAINT [FK__StudentEv__IdStu__4E1E9780]
GO
ALTER TABLE [dbo].[Subscribes]  WITH CHECK ADD  CONSTRAINT [FK__StudentEv__IdStu__4F12BBB9] FOREIGN KEY([IdStudent])
REFERENCES [dbo].[Students] ([IdStudent])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subscribes] CHECK CONSTRAINT [FK__StudentEv__IdStu__4F12BBB9]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK__Teachers__IdTeac__4A4E069C] FOREIGN KEY([IdTeacher])
REFERENCES [dbo].[Users] ([IdUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK__Teachers__IdTeac__4A4E069C]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK__Users__Age__3BFFE745] CHECK  (([Age]>(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK__Users__Age__3BFFE745]
GO
USE [master]
GO
