USE [master]
GO
/****** Object:  Database [NewMoodle]    Script Date: 24.08.2018 17:52:05 ******/
CREATE DATABASE [NewMoodle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewMoodle', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NewMoodle.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NewMoodle_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NewMoodle_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewMoodle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewMoodle]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 24.08.2018 17:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[Village] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cours]    Script Date: 24.08.2018 17:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cours](
	[CoursId] [int] NOT NULL,
	[NameCourse] [nvarchar](50) NOT NULL,
	[GroupId] [int] NOT NULL,
	[DateCreateCourse] [datetime] NULL,
	[TeacherId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Cours] PRIMARY KEY CLUSTERED 
(
	[CoursId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Events]    Script Date: 24.08.2018 17:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](200) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Events] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventsStudents]    Script Date: 24.08.2018 17:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventsStudents](
	[EventId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EventsStudents] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Groups]    Script Date: 24.08.2018 17:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[AcademicYear] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.Groups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Marks]    Script Date: 24.08.2018 17:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marks](
	[MarkId] [int] NOT NULL,
	[CoursId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Value] [int] NULL,
 CONSTRAINT [PK_dbo.Marks] PRIMARY KEY CLUSTERED 
(
	[MarkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 24.08.2018 17:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[EntryTime] [datetime] NOT NULL,
	[ExitTime] [datetime] NOT NULL,
	[Active] [nvarchar](3) NOT NULL,
	[Class] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[YearOfStudyId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 24.08.2018 17:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [int] NOT NULL,
	[EntryTime] [datetime] NOT NULL,
	[ExitTime] [datetime] NOT NULL,
	[Active] [nvarchar](3) NOT NULL,
	[Degree] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.08.2018 17:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PasswordUser] [nvarchar](50) NOT NULL,
	[IDNP] [bigint] NOT NULL,
	[Photo] [nvarchar](400) NULL,
	[DateCreated] [datetime] NOT NULL,
	[BirthDate] [datetime] NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YearOfStudies]    Script Date: 24.08.2018 17:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YearOfStudies](
	[YearOfStudyId] [int] IDENTITY(1,1) NOT NULL,
	[BegginingYear] [datetime] NOT NULL,
	[EndYear] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.YearOfStudies] PRIMARY KEY CLUSTERED 
(
	[YearOfStudyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([AddressId], [Village], [City], [Country], [UserId]) VALUES (4, N'Colusna', N'Criuleni', N'Moldova', 52)
INSERT [dbo].[Addresses] ([AddressId], [Village], [City], [Country], [UserId]) VALUES (5, N'Banesti', N'Glodeni', N'Moldova', 52)
INSERT [dbo].[Addresses] ([AddressId], [Village], [City], [Country], [UserId]) VALUES (6, NULL, N'Glodeni', N'Moldova', 53)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
INSERT [dbo].[Cours] ([CoursId], [NameCourse], [GroupId], [DateCreateCourse], [TeacherId]) VALUES (1, N'Biologia', 9, CAST(N'2018-06-20 10:00:00.000' AS DateTime), 70)
INSERT [dbo].[Cours] ([CoursId], [NameCourse], [GroupId], [DateCreateCourse], [TeacherId]) VALUES (2, N'Geografia', 9, CAST(N'2018-03-20 11:00:00.000' AS DateTime), 69)
INSERT [dbo].[Cours] ([CoursId], [NameCourse], [GroupId], [DateCreateCourse], [TeacherId]) VALUES (3, N'Matematica', 9, CAST(N'2018-02-10 10:00:00.000' AS DateTime), 71)
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventId], [EventName], [UserId]) VALUES (6, N'Test!!', 69)
SET IDENTITY_INSERT [dbo].[Events] OFF
INSERT [dbo].[EventsStudents] ([EventId], [StudentId]) VALUES (6, 1)
INSERT [dbo].[EventsStudents] ([EventId], [StudentId]) VALUES (6, 2)
INSERT [dbo].[EventsStudents] ([EventId], [StudentId]) VALUES (6, 3)
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([GroupId], [AcademicYear], [Name]) VALUES (9, N'A-160', N'Fire')
INSERT [dbo].[Groups] ([GroupId], [AcademicYear], [Name]) VALUES (10, N'A-170', N'Mantu')
INSERT [dbo].[Groups] ([GroupId], [AcademicYear], [Name]) VALUES (11, N'A-180', N'Cante')
SET IDENTITY_INSERT [dbo].[Groups] OFF
INSERT [dbo].[Marks] ([MarkId], [CoursId], [StudentId], [Value]) VALUES (1, 1, 1, 2)
INSERT [dbo].[Marks] ([MarkId], [CoursId], [StudentId], [Value]) VALUES (2, 1, 2, 10)
INSERT [dbo].[Marks] ([MarkId], [CoursId], [StudentId], [Value]) VALUES (3, 2, 3, 6)
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [EntryTime], [ExitTime], [Active], [Class], [UserId], [GroupId], [YearOfStudyId]) VALUES (1, CAST(N'2018-01-02 10:00:00.000' AS DateTime), CAST(N'2018-01-02 11:00:00.000' AS DateTime), N'no', N'12-A', 51, 9, 7)
INSERT [dbo].[Students] ([StudentId], [EntryTime], [ExitTime], [Active], [Class], [UserId], [GroupId], [YearOfStudyId]) VALUES (2, CAST(N'2018-01-02 11:00:00.000' AS DateTime), CAST(N'2018-01-02 12:00:00.000' AS DateTime), N'no', N'12-A', 52, 9, 7)
INSERT [dbo].[Students] ([StudentId], [EntryTime], [ExitTime], [Active], [Class], [UserId], [GroupId], [YearOfStudyId]) VALUES (3, CAST(N'2018-01-03 12:00:00.000' AS DateTime), CAST(N'2018-01-03 13:00:00.000' AS DateTime), N'no', N'12-A', 53, 9, 7)
SET IDENTITY_INSERT [dbo].[Students] OFF
INSERT [dbo].[Teachers] ([TeacherId], [EntryTime], [ExitTime], [Active], [Degree]) VALUES (69, CAST(N'2018-05-29 12:00:00.000' AS DateTime), CAST(N'2018-05-29 13:00:00.000' AS DateTime), N'no', N'superior')
INSERT [dbo].[Teachers] ([TeacherId], [EntryTime], [ExitTime], [Active], [Degree]) VALUES (70, CAST(N'2018-05-29 12:00:00.000' AS DateTime), CAST(N'2018-05-29 13:00:00.000' AS DateTime), N'no', N'superior')
INSERT [dbo].[Teachers] ([TeacherId], [EntryTime], [ExitTime], [Active], [Degree]) VALUES (71, CAST(N'2018-06-20 10:00:00.000' AS DateTime), CAST(N'2018-06-20 11:00:00.000' AS DateTime), N'no', N'1')
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Email], [PasswordUser], [IDNP], [Photo], [DateCreated], [BirthDate], [Age], [Gender]) VALUES (51, N'Ceban', N'Ion', N'cebotari@mail.ru', N'afsfsdfsfsdsad', 1232123212321, N'sadddddddd', CAST(N'2018-01-02 00:00:00.000' AS DateTime), CAST(N'2000-01-02 00:00:00.000' AS DateTime), 18, N'm')
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Email], [PasswordUser], [IDNP], [Photo], [DateCreated], [BirthDate], [Age], [Gender]) VALUES (52, N'Iovu ', N'Adrian', N'iovu@mail.ru', N'fasafsdsfdsfsdfs', 1232343234323, N'qeqrewwetwr', CAST(N'2018-03-02 00:00:00.000' AS DateTime), CAST(N'1999-01-02 00:00:00.000' AS DateTime), 19, N'm')
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Email], [PasswordUser], [IDNP], [Photo], [DateCreated], [BirthDate], [Age], [Gender]) VALUES (53, N'Raluca', N'Ana', N'raluca@mail.ru', N'dsfdsgsfgasfsdg', 2243241123142, N'4324wwevdfvdf', CAST(N'2018-01-02 00:00:00.000' AS DateTime), CAST(N'1998-03-02 00:00:00.000' AS DateTime), 20, N'f')
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[YearOfStudies] ON 

INSERT [dbo].[YearOfStudies] ([YearOfStudyId], [BegginingYear], [EndYear]) VALUES (6, CAST(N'2018-09-03 00:00:00.000' AS DateTime), CAST(N'2019-05-31 00:00:00.000' AS DateTime))
INSERT [dbo].[YearOfStudies] ([YearOfStudyId], [BegginingYear], [EndYear]) VALUES (7, CAST(N'2018-09-03 00:00:00.000' AS DateTime), CAST(N'2019-05-25 00:00:00.000' AS DateTime))
INSERT [dbo].[YearOfStudies] ([YearOfStudyId], [BegginingYear], [EndYear]) VALUES (8, CAST(N'2018-09-03 00:00:00.000' AS DateTime), CAST(N'2019-05-31 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[YearOfStudies] OFF
/****** Object:  Index [IX_UserId]    Script Date: 24.08.2018 17:52:05 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Addresses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupId]    Script Date: 24.08.2018 17:52:05 ******/
CREATE NONCLUSTERED INDEX [IX_GroupId] ON [dbo].[Cours]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherId]    Script Date: 24.08.2018 17:52:05 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[Cours]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 24.08.2018 17:52:05 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Events]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 24.08.2018 17:52:05 ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[EventsStudents]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CoursId]    Script Date: 24.08.2018 17:52:05 ******/
CREATE NONCLUSTERED INDEX [IX_CoursId] ON [dbo].[Marks]
(
	[CoursId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 24.08.2018 17:52:05 ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[Marks]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupId]    Script Date: 24.08.2018 17:52:05 ******/
CREATE NONCLUSTERED INDEX [IX_GroupId] ON [dbo].[Students]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 24.08.2018 17:52:05 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Students]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_YearOfStudyId]    Script Date: 24.08.2018 17:52:05 ******/
CREATE NONCLUSTERED INDEX [IX_YearOfStudyId] ON [dbo].[Students]
(
	[YearOfStudyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherId]    Script Date: 24.08.2018 17:52:05 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[Teachers]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Email]    Script Date: 24.08.2018 17:52:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IDNP]    Script Date: 24.08.2018 17:52:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_IDNP] ON [dbo].[Users]
(
	[IDNP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Cours]  WITH CHECK ADD  CONSTRAINT [FK_Cours_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
GO
ALTER TABLE [dbo].[Cours] CHECK CONSTRAINT [FK_Cours_Groups]
GO
ALTER TABLE [dbo].[Cours]  WITH CHECK ADD  CONSTRAINT [FK_Cours_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[Cours] CHECK CONSTRAINT [FK_Cours_Teachers]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Events_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_dbo.Events_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[EventsStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventsStudents_dbo.Events_StudentId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventsStudents] CHECK CONSTRAINT [FK_dbo.EventsStudents_dbo.Events_StudentId]
GO
ALTER TABLE [dbo].[EventsStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventsStudents_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventsStudents] CHECK CONSTRAINT [FK_dbo.EventsStudents_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[Marks]  WITH CHECK ADD  CONSTRAINT [FK_Marks_Cours] FOREIGN KEY([CoursId])
REFERENCES [dbo].[Cours] ([CoursId])
GO
ALTER TABLE [dbo].[Marks] CHECK CONSTRAINT [FK_Marks_Cours]
GO
ALTER TABLE [dbo].[Marks]  WITH CHECK ADD  CONSTRAINT [FK_Marks_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[Marks] CHECK CONSTRAINT [FK_Marks_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Groups]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_YearOfStudies] FOREIGN KEY([YearOfStudyId])
REFERENCES [dbo].[YearOfStudies] ([YearOfStudyId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_YearOfStudies]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Users] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Users]
GO
USE [master]
GO
