@{
    ViewBag.Title = "AddPhoto";
}
@Html.Partial("_VerticalBar")
@using (Html.BeginForm("Profile", "UserProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new accountsddd.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            <input type="file" name="Photo" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" style="height:35px;" class="btn">Save</button>
        </div>
    </div>
}


